# Server 
SERVER_PORT=8080
FRONTEND_URL=http://localhost:5173

# Database (Supabase - postgreSQL)
DATABASE_URL=your_postgresql_connection_string

# SMTP (Gmail SSL port 465)
MAIL_USER=your_email@gmail.com
MAIL_PASS=your_app_password
MAIL_TO=recipient@gmail.com
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465

# Security (Local Auth JWT)
JWT_SECRET=your_jwt_secret_key

# FIREBASE JSON
FIREBASE_CREDENTIALS='{"type":"service_account",...}'

# GIN MODE
GIN_MODE=debug

# Cloudinary (Dành cho lưu ảnh)
CLOUDINARY_URL=cloudinary://api_key:api_secret@cloud_name
